<ng-template
	#addCustomerModal
	let-modal
>
	<div class="modal-header">
		<h3 class="fw-semibold">{{ 'add_customer' | transloco }}</h3>
		<app-button
			[class]="'btn btn-close'"
			[spinner]="false"
			[id]="'customer_modal_close_btn'"
			(click)="modal.dismiss('Cross click')"
		>
			<i class="ri-close-line"></i>
		</app-button>
	</div>
	<div class="modal-body">
		<form
			[formGroup]="form"
			class="theme-form theme-form-2"
			(ngSubmit)="submit()"
		>
			<app-form-fields
				[label]="'name' | transloco"
				[for]="'name'"
				[required]="true"
			>
				<input
					class="form-control"
					id="name"
					type="text"
					placeholder="{{ 'enter_name' | transloco }}"
					formControlName="name"
				/>
				@if (form?.controls['name']?.touched && form.controls['name']?.errors?.['required']) {
				<div class="invalid-feedback">{{ 'name_is_required' | transloco }}</div>
				}
			</app-form-fields>
			<app-form-fields
				[label]="'email'"
				[for]="'email'"
				[required]="true"
			>
				<input
					class="form-control"
					id="email"
					type="email"
					placeholder="{{ 'enter_email' | transloco }}"
					formControlName="email"
				/>
				@if (form?.controls['email']?.touched && form.controls['email']?.errors?.['required']) {
				<div class="invalid-feedback">{{ 'email_is_required' | transloco }}</div>
				} @if (form?.controls['email']?.touched && form.controls['email']?.errors?.['email']) {
				<div class="invalid-feedback">{{ 'invalid_email' | transloco }}</div>
				}
			</app-form-fields>
			<app-form-fields
				[label]="'phone'"
				[for]="'phone'"
				[required]="true"
			>
				<select2
					class="custom-select intl-tel-input"
					[templates]="{ option: template, templateSelection: template }"
					[data]="codes"
					formControlName="country_code"
				>
					<ng-template
						#template
						let-data="data"
					>
						<div class="country">
							<div class="flag-box">
								<div class="iti-flag {{ data?.class }}"></div>
							</div>
							<span class="dial-code">{{ data.code }}</span>
						</div>
					</ng-template>
				</select2>
				<input
					type="number"
					class="form-control intl-input-padding"
					formControlName="phone"
					placeholder="{{ 'enter_phone_number' | transloco }}"
					name="phone"
				/>
				@if (form.controls['phone'].touched && form.controls['phone'].errors?.['required']) {
				<div class="invalid-feedback d-block">{{ 'phone_number_is_required' | transloco }}</div>
				} @if (form.controls['phone'].touched && form.controls['phone'].errors?.['pattern']) {
				<div class="invalid-feedback d-block">{{ 'phone_number_is_invalid' | transloco }}</div>
				}
			</app-form-fields>
			<app-form-fields
				[label]="'activation'"
				[for]="'activation_channels'"
				[required]="true"
			>
				<div class="form-check form-switch">
					<input
						class="checkbox_animated form-check-input"
						type="checkbox"
						id="modal_channel_email"
						formControlName="channelEmail"
					/>
					<label
						class="form-check-label form-label m-0"
						for="modal_channel_email"
					>
						{{ 'email' | transloco }}
					</label>
				</div>
				<div class="form-check form-switch">
					<input
						class="checkbox_animated form-check-input"
						type="checkbox"
						id="modal_channel_sms"
						formControlName="channelSms"
					/>
					<label
						class="form-check-label form-label m-0"
						for="modal_channel_sms"
					>
						{{ 'sms' | transloco }}
					</label>
				</div>
				<div class="form-check form-switch">
					<input
						class="checkbox_animated form-check-input"
						type="checkbox"
						id="modal_channel_whatsapp"
						formControlName="channelWhatsapp"
					/>
					<label
						class="form-check-label form-label m-0"
						for="modal_channel_whatsapp"
					>
						{{ 'whatsapp' | transloco }}
					</label>
				</div>
				@if (form.touched && form.errors?.['channelsRequired']) {
				<div class="invalid-feedback d-block">{{ 'at_least_one_channel_required' | transloco }}</div>
				} @if (form.touched && form.errors?.['emailRequiredForChannel']) {
				<div class="invalid-feedback d-block">{{ 'email_required_for_activation_channel' | transloco }}</div>
				} @if (form.touched && form.errors?.['phoneRequiredForChannel']) {
				<div class="invalid-feedback d-block">{{ 'phone_required_for_activation_channel' | transloco }}</div>
				}
			</app-form-fields>
			<div class="button-box">
				<app-button
					[class]="'btn-md fw-bold btn btn-secondary'"
					[spinner]="false"
					[id]="'cancel_customer_btn'"
					(click)="modal.dismiss('Cancel')"
				>
					{{ 'Cancel' | transloco }}
				</app-button>
				<app-button
					[class]="'btn-theme btn-md fw-bold btn'"
					[id]="'submit_customer_btn'"
				>
					{{ 'Submit' | transloco }}
				</app-button>
			</div>
		</form>
	</div>
</ng-template>
