@if (values()?.length) {
<ul class="category-list custom-padding custom-height">
	@for (fv of values(); track fv.value) {
	<li>
		<div class="form-check category-list-box m-0 ps-0">
			<input
				class="checkbox_animated"
				type="checkbox"
				id="facet-{{ facetKey() }}-{{ fv.value }}"
				[value]="fv.value"
				[checked]="checked(fv.value)"
				(change)="applyFilter($event)"
			/>
			<label
				class="form-check-label color-label-box"
				for="facet-{{ facetKey() }}-{{ fv.value }}"
			>
				<span class="name">{{ fv.value }}</span>
				<span class="text-content ms-1">({{ fv.count }})</span>
			</label>
		</div>
	</li>
	}
</ul>
}
