<div class="dashboard-address">
	<div class="title-header">
		<div class="d-flex align-items-center justify-content-between w-100">
			<h5>{{ 'saved_address' | transloco }}</h5>
			<app-button
				[class]="'btn theme-bg-color text-white btn-sm fw-bold mt-lg-0 ms-auto'"
				[type]="'button'"
				[spinner]="false"
				[id]="'add_address'"
				(click)="AddressModal()?.openModal()"
			>
				<i class="ri-add-line"></i>
				{{ 'add_address' | transloco }}
			</app-button>
		</div>
	</div>
	@if ((user$ | async)?.address?.length) {
	<div class="row g-sm-4 g-3">
		@for (address of (user$ | async)?.address; track address; let i = $index) {
		<div class="col-xxl-4 col-xl-6 col-lg-12 col-md-6">
			<div class="address-box">
				<div>
					<div class="label">
						<label>{{ address?.title }}</label>
					</div>
					<div class="table-responsive address-table">
						<table class="table">
							<tbody>
								<tr>
									<td colspan="2">{{ (user$ | async)?.name | titleCase }}</td>
								</tr>
								<tr>
									<td>{{ 'address' | transloco }} :</td>
									<td>
										<p>
											{{ address?.street }}, {{ address?.city }}, {{ address?.state?.name }}, {{
											address?.country?.name }}
										</p>
									</td>
								</tr>
								<tr>
									<td>{{ 'pin_code' | transloco }} :</td>
									<td>{{ address?.pincode }}</td>
								</tr>
								<tr>
									<td>{{ 'phone' | transloco }} :</td>
									<td>+{{ address?.country_code }} {{ address?.phone }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="button-group">
					<app-button
						[class]="'btn btn-sm add-button'"
						[type]="'button'"
						[spinner]="false"
						[id]="'edit_address'+address.id"
						(click)="AddressModal()?.openModal(address)"
					>
						<i class="ri-edit-box-line"></i>
						{{ 'edit' | transloco }}
					</app-button>
					<app-button
						[class]="'btn btn-sm add-button'"
						[type]="'button'"
						[spinner]="false"
						[id]="'remove_address'+address.id"
						(click)="DeleteModal()?.openModal('delete', address)"
					>
						<i class="ri-delete-bin-line"></i>
						{{ 'remove' | transloco }}
					</app-button>
				</div>
			</div>
		</div>
		}
	</div>
	}
</div>
@if (!(user$ | async)?.address?.length) {
<app-no-data
	[class]="'no-data-added'"
	[image]="'assets/svg/empty-items.svg'"
	[text]="'no_address_found' | transloco"
	[description]="'no_address_description' | transloco"
/>
}
<address-modal #addressModal />
<app-delete-modal
	#deleteModal
	(deleteItem)="delete($event.actionToPerform,$event.data)"
/>
