<form
	class="theme-form theme-form-2 mega-form"
	[formGroup]="form"
	(ngSubmit)="submit()"
>
	<div class="row">
		<app-form-fields
			[label]="'name'"
			[for]="'name'"
			[required]="true"
		>
			<input
				class="form-control"
				type="text"
				placeholder="{{ 'enter_name' | transloco }}"
				name="name"
				formControlName="name"
			/>
			@if (form.controls['name'].touched && form.controls['name'].errors?.['required']) {
			<div class="invalid-feedback">{{ 'name_is_required' | transloco }}</div>
			}
		</app-form-fields>
		<div class="d-flex mb-3">
			<h4 class="form-label-title">
				{{ 'permissions' | transloco }}
				<span class="theme-color required-dot ms-2">*</span>
			</h4>
			@if (form.controls['permissions'].touched && form.controls['permissions'].invalid) {
			<div class="invalid-feedback ms-4 mt-0">{{ 'permissions_is_required' | transloco }}</div>
			}
		</div>
		<app-permissions
			[selectedPermission]="permissions"
			(setPermissions)="setPermissions($event)"
		/>
	</div>
	<app-button [id]="'role_btn'">{{ 'save' | transloco }}</app-button>
</form>
