<ng-template
	#payoutModal
	let-modal
>
	<div class="modal-header">
		<h3 class="fw-semibold mb-1">{{ label() | transloco }}</h3>
		<app-button
			[class]="'btn btn-close'"
			[spinner]="false"
			[id]="'payout_close_btn'"
			(click)="modal.dismiss('Cross click')"
		>
			<i class="ri-close-line"></i>
		</app-button>
	</div>
	<div class="modal-body">
		<div class="rounded-3 mb-4 border">
			<table class="all-package theme-table no-footer table">
				<tbody>
					@if (payoutData.message) {
					<tr>
						<td class="fw-semibold text-start">{{ 'message' | transloco }}</td>
						<td class="text-start">{{ payoutData.message }}</td>
					</tr>
					} @if (payoutData.reason) {
					<tr>
						<td class="fw-semibold text-start">{{ 'reason' | transloco }}</td>
						<td class="text-start">{{ payoutData.reason }}</td>
					</tr>
					} @if (payoutData.user.payment_account) {
					<tr>
						<td class="fw-semibold text-start">{{ 'due_to_seller' | transloco }}</td>
						<td class="text-start">{{ payoutData?.amount | currencySymbol }}</td>
					</tr>
					} @if (payoutData.user.payment_account) {
					<tr>
						<td class="fw-semibold text-start">{{ 'bank_name' | transloco }}</td>
						<td class="text-start">{{ payoutData?.user?.payment_account?.bank_name }}</td>
					</tr>
					} @if (payoutData.user.payment_account) {
					<tr>
						<td class="fw-semibold text-start">{{ 'bank_account_name' | transloco }}</td>
						<td class="text-start">{{ payoutData?.user?.payment_account?.bank_holder_name }}</td>
					</tr>
					} @if (payoutData.user.payment_account) {
					<tr>
						<td class="fw-semibold text-start">{{ 'bank_account_number' | transloco }}</td>
						<td class="text-start">{{ payoutData?.user?.payment_account?.bank_account_no }}</td>
					</tr>
					} @if (payoutData.user.payment_account) {
					<tr>
						<td class="fw-semibold text-start">{{ 'bank_ifsc_code' | transloco }}</td>
						<td class="text-start">{{ payoutData?.user?.payment_account?.ifsc }}</td>
					</tr>
					} @if (payoutData.user.payment_account) {
					<tr>
						<td class="fw-semibold text-start">{{ 'bank_swift_Code' | transloco }}</td>
						<td class="text-start">{{ payoutData?.user?.payment_account?.swift }}</td>
					</tr>
					} @if (!payoutData.user.payment_account) {
					<tr>
						<td class="fw-semibold text-start">{{ 'amount' | transloco }}</td>
						<td class="text-start">{{ payoutData?.amount | currencySymbol }}</td>
					</tr>
					} @if (payoutData?.payment_type) {
					<tr>
						<td class="fw-semibold text-start">{{ 'payment_method' | transloco }}</td>
						<td class="text-start">{{ payoutData?.payment_type | uppercase }}</td>
					</tr>
					} @if (payoutData?.status) {
					<tr>
						<td class="fw-semibold text-start">{{ 'status' | transloco }}</td>
						<td class="text-start">
							<div class="status-{{ payoutData?.status }}">
								<span>{{ payoutData?.status | uppercase }}</span>
							</div>
						</td>
					</tr>
					}
				</tbody>
			</table>
		</div>
		<div *hasPermission="'withdraw_request.action'">
			@if (payoutData?.status === 'pending') {
			<div class="button-box">
				<app-button
					[class]="'btn-md fw-bold btn btn-secondary'"
					[id]="'withdrawal_rejected_btn'"
					(click)="actionPerform('rejected')"
				>
					{{ 'rejected' | transloco }}
				</app-button>
				<app-button
					[class]="'btn-theme btn-md fw-bold btn'"
					[id]="'withdrawal_approved_btn'"
					(click)="actionPerform('approved')"
				>
					{{ 'approved' | transloco }}
				</app-button>
			</div>
			}
		</div>
	</div>
</ng-template>
